<p>form-first works!</p>

<p>Name</p>
<input type="text" name="" [value]="defaultName">

<p>{{ user }}</p>
<input [(ngModel)]="user" type="text" name="">

<p>Email</p>
<input #email type="text" name="">
<hr />
<button mat-raised-button color="primary" (click)="onSendForm(email.value)">Send Form</button>
<hr />
<button (click)="onDefaultForm()">Default Form</button>

<p>{{ status }}</p>

<div *ngIf="displayPassword; then showPassword; else hidePassword">
</div>

<ng-template #showPassword>
    <p>123456</p>
</ng-template>

<ng-template #hidePassword>
    <p>No muestro el password</p>
</ng-template>

<div [ngSwitch]="lightStatus">
    <div *ngSwitchCase = "'GREEN'">VERDE</div>
    <div *ngSwitchCase = "'RED'">ROJO</div>
    <div *ngSwitchCase = "'YELLOW'">AMARILLO</div>
    <div *ngSwitchDefault>ROTO</div>
</div>

<div *ngFor="let name of names">
    <p>{{ name }}</p>
</div>

<p>{{ parentDataToChild }}</p>

<button (click)="onSendEvent()">Send Event</button>

<p>{{ errorMessage }}</p>